
/* --------------- Стили уровня игроков --------------- */

.userRank {
  position: absolute; /* относительное позиционирование элемента */
  bottom: 50%; /* выравнивание по высоте */
  right: -20%; /* выравнивание по ширине */
  color: #dedddd; /* цвет текста */
  font-size: 8pt; /* размер шрифта */
}
