/* --------------- Стили кнопок действий --------------- */

/* Стили кнопки "Взять карты" */
.userButton {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по ширине (сдвиг влево) */
  left: 47.5%;
  /* выравнивание по высоте */
  top: 65%;

  /* высота кнопки */
  height: 40px;
  /* ширина кнопки */
  width: 100px;
  /* борт кнопки */
  border: 1px solid #aaa;
  /* тень от кнопки */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* закругление углов кнопки */
  border-radius: 4px;
  /* смена курсора при наведении */
  cursor: pointer;
  /* цвет кнопки */
  background: rgb(221, 221, 221);

  /* размер текста */
  font-size: 14px;
  /* выравнивание текста по центру */
  text-align: center;
}
