/* Задний фон html */
html,
body {
  /* внешний отступ */
  margin: 0;
  /* внутренний отступ */
  padding: 0;
  /* цвет заднего фона */
  background-color: gray;
  /* высота элемента */
  height: 100%;
}

 