/* --------------- Стили колоды стола --------------- */

/* Общие стили колод стола */
.decks {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте */
  top: 40%;
  /* выравнивание по ширине (сдвиг влево) */
  left: 70px;
}

/* Стили закрытой колоды карт */
.closedDeckCards {
  left: 10%;
}

/* Стили открытой колоды карт */
.openDeckCards {
  left: 60%;
}

/* Стили временной колоды карт */
.firsTemporaryDeckCards {
  left: 50%;
}

/* --------------------------------------------- */

/* --------------- Стили количества карт --------------- */

/* Общие стили количества карт */
.deckCount {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте */
  top: 45%;
  /* выравнивание по ширине (сдвиг влево) */
  left: 3%;
}

/* Стили количества карт закрытой колоды */
.closedDeckCount {
}

/* Стили количества карт открытой колоды */
.openDeckCount {
  /* выравнивание по высоте */
  top: 45%;
  /* выравнивание по ширине (сдвиг влево) */
  left: 70%;
}

/* Стили количества карт временной колоды карт */
.firsTemporaryDeckCount {
  /* выравнивание по высоте */
  top: 45%;
  /* выравнивание по ширине (сдвиг влево) */
  left: 45%;
}
