/* --------------- Очередность хода --------------- */

.action {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте */
  top: 60%;
  /* выравнивание по ширине (сдвиг влево) */
  left: 48.4%;
  /* выравнивание текста по центру */
  text-align: center;
}
