
/* --------------- Очередность хода --------------- */

/* Координаты текста "Ваш ход" */
.action {
  position: absolute; /* относительное позиционирование элемента */
  top: 60%; /* выравнивание по высоте */
  left: 48.4%; /* сдвинуть текст по ширине (влево) */
  text-align: center; /* выравнивание текста по центру */
}
