/* --------------- Карты игроков --------------- */

/* Общие стили карт */
.card {
  /* относительное позиционирование элемента */
  position: absolute;
  /* смена курсора при наведении */
  cursor: pointer;
  /* высота карты */
  height: 155px;
  /* ширина карты */
  width: 100px;
  /* борт карты */
  border: 1px solid #696969;
  /* закругление углов карт */
  border-radius: 10px;
  /* тень от карт */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Ссылка на картинку карт */
.pictureCard .card {
  background: url("./../../imgs/card.jpg");
}
/* Ссылка на рубашку карт */
.shirtCard .card.back {
  background: url("./../../imgs/shirt.jpg");
}
