/* --------------- Стили чата --------------- */

/* Общие стили чата */
.chat {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 20%;
  /* выравнивание по ширине (сдвиг влево) */
  right: 1%;
  /* ширина чата */
  width: 220px;
  /* цвет общего фона чата*/
  background: #996b53;
  /* рамка чата */
  border: 1px solid #696969;
  /* закругление углов чата */
  border-radius: 5px 5px 0 0;
}

/* Стили заголовка чата */
.chatTitle {
  /* цвет фона заголовка */
  background-color: #212121;
  /* высота области заголовка */
  height: 10%;
  /* ширина области заголовка */
  width: 100%;
  /* закругление углов области чата */
  border-radius: 5px 5px 0 0;

  /* цвет текста */
  color: #fff;
  /* размера шрифта текста */
  font-size: 70%;
  /* жирность текста */
  font-weight: 700;
  /* выравнивание текста по центру */
  text-align: center;
}


/* Стили истории чата */
.chatLogs {
  /* высота области истории */
  height: 250px;
}

/* Стили ввода сообщений чата */
.chatInput {
  /* ширина области ввода сообщений */
  width: 98%;
  /* высота области ввода сообщений */
  height: 20px;
  /* выделение границы области ввода сообщений */
  border: 1px solid #000;
  /* цвет фона ввода сообщений */
  color: #999;

  /* шрифт текста */
  font-style: italic;
  /* выравнивание текста по центру */
  text-align: center;
}
