
/* --------------- Стили игрового поля --------------- */

/* Общие стили игрового поля */
#gameField {
  /* относительное позиционирование элемента */
  position: absolute;
  /* ссылка на картинку игрового поля */
  background-image: url("./../../../imgs/imgField.jpg");
  /* фоновое изображение не повторяется */
  background-repeat: no-repeat; 
  height: 95%;
  width: 100%;
}

/* --------------------------------------------- */

/* --------------- Стили контента игрового поля --------------- */

/* Общие стили контента */
.content {
  /* относительное позиционирование элемента */
  position: absolute;
  /* цвет текста */
  color: #ffffff;
  /* шрифт текста */
  font-family: Verdana;
  /* размер шрифта */
  font-size: 15px; 
  /* перенос текста на новую строку */
  word-break: break-word;
  /* пространство между строками */
  line-height: 25px;
  /* тень от текста */
  text-shadow: 1px 1px 1px black; 
}
