/* --------------- Кнопки действий --------------- */

/* Кнопка "Взять карты" */
.playerButton {
  position: absolute; /* относительное позиционирование элемента */
  left: 47.5%; /* сдвинуть текст по ширине (влево) */
  top: 65%; /* выравнивание по высоте */

  height: 40px; /* высота кнопки */
  width: 100px; /* ширина кнопки */
  border: 1px solid #aaa; /* борт кнопки */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); /* тень от кнопки */
  border-radius: 4px; /* закругление углов кнопки */
  cursor: pointer; /* смена курсора при наведении */
  background: rgb(221, 221, 221);

  font-size: 14px; /* размер текста */
  text-align: center; /* выравнивание текста по центру */
}
