/* --------------- Колоды стола --------------- */

/* Общие стили колод стола */
.decks {
  position: absolute; /* относительное позиционирование элемента */
  top: 40%; /* выравнивание по высоте */
  left: 70px; /* выравнивание по ширине (сдвиг влево) */
}
/* Закрытая колода карт */
.closedDeckCards {
  left: 10%;
}
/* Открытая колода карт */
.openDeckCards {
  left: 60%;
}
/* Временная колода карт */
.firsTemporaryDeck {
  left: 50%;
}

/* --------------- Количество карт --------------- */

.deckCount {
  position: absolute; /* относительное позиционирование элемента */
  top: 45%; /* выравнивание по высоте */
  left: 3%; /* сдвинуть текст по ширине (влево)*/
}
/* Количество карт закрытой колоды */
.closedDeckCount {
}
/* Количество карт открытой колоды */
.openDeckCount {
  top: 45%; /* выравнивание по высоте */
  left: 70%; /* сдвинуть текст по ширине (влево)*/
}

/* Количество карт временной колоды карт */
.firsTemporaryDeckCount {
  top: 45%; /* выравнивание по высоте */
  left: 45%; /* сдвинуть текст по ширине (влево)*/
}