/* --------------- Фон --------------- */

/* Задний фон html */
html,
body {
  background-color: gray; /* Цвет заднего фона*/
  height: 100%;
}

/* --------------------------------------------- */
/* --------------- Игровое поле --------------- */

/* Общие стили игрового поля */
#game-field {
  position: absolute; /* относительное позиционирование элемента */
  background-image: url("./../imgs/imgField.jpg");
  background-repeat: no-repeat; /* фоновое изображение не повторяется */
  height: 100%;
  width: 100%;
}

/* --------------------------------------------- */
/* --------------- Карты игроков --------------- */

/* Общие стили карт */
.card {
  position: absolute; /* относительное позиционирование элемента */
  height: 155px; /* высота карты */
  width: 100px; /* ширина карты */
  border: 1px solid #696969; /* борт карты */
  border-radius: 10px; /* закругление углов карт */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); /* тень от карт */
  cursor: pointer; /* смена курсора при наведении */
}

/* Ссылка на картинку карт */
.picture-card .card {
  background: url("./../imgs/card.jpg");
}
/* Ссылка на рубашку карт */
.shirt-card .card.back {
  background: url("./../imgs/shirt.jpg");
}

/* --------------------------------------------- */
/* --------------- Колоды стола --------------- */

/* Общие стили колод стола */
.decks {
  position: absolute; /* относительное позиционирование элемента */
  top: 40%; /* выравнивание по высоте */
  left: 70px; /* выравнивание по ширине (сдвиг влево) */
}
/* Закрытая колода карт */
.closed-deck-cards {
  left: 10%;
}
/* Открытая колода карт */
.open-deck-cards {
  left: 60%;
}
/* Временная колода карт */
.first-temporary-deck {
  left: 50%;
}

/* --------------- Колоды игроков --------------- */

/* Общие стили колод игроков */
.hand {
  position: absolute; /* относительное позиционирование элемента */
  top: 5%; /* выравнивание по высоте */
  left: 47%; /* выравнивание по ширине (сдвиг влево) */
}

/* Карты первого игрока */
.hand-cards-0 {
  top: 75%;
}

/* Карты второго игрока (противника) */
.hand-cards-1 {
}

/* --------------------------------------------- */
/* --------------- Контент --------------- */

/* Общие стили контента */
.content {
  position: absolute; /* относительное позиционирование элемента */
  color: #ffffff; /* цвет текста */
  font-family: Verdana; /* шрифт текста */
  font-size: 15px; /* размер шрифта */
  word-break: break-word; /* перенос текста на новую строку */
  line-height: 25px; /* пространство между строками */
  text-shadow: 1px 1px 1px black; /* тень от текста */
}


/* --------------- Количество карт --------------- */

.deck-count {
  top: 45%; /* выравнивание по высоте */
  left: 3%; /* сдвинуть текст по ширине (влево)*/
}
/* Количество карт закрытой колоды */
.closed-deck-count {
}
/* Количество карт открытой колоды */
.open-deck-count {
  top: 45%; /* выравнивание по высоте */
  left: 70%; /* сдвинуть текст по ширине (влево)*/
}
 
/* --------------- Количество карт первого игрока --------------- */

.hand-count-0 {
  top: 82%; /* выравнивание по высоте */
  left: 40%; /* сдвинуть текст по ширине (влево) */
}

/* --------------- Количество карт второго игрока (противника) --------------- */

.hand-count-1 {
  top: 12%; /* выравнивание по высоте */
  left: 37.5%; /* сдвинуть текст по ширине (влево) */
}

/* --------------- Имена игроков --------------- */

/* Общие стили текста игроков */
.player {
  position: absolute; /* относительное позиционирование элемента */
  left: 80%; /* сдвинуть текст по ширине (влево) */
}

/* Координаты имени первого игрока */
.player-1 {
  top: 10%; /* выравнивание по высоте */
}

/* Координаты имени второго игрока */
.player-0 {
  top: 80%; /* выравнивание по высоте */
}

/* --------------- Уровень игроков --------------- */

.user-rank {
  position: absolute; /* относительное позиционирование элемента */
  bottom: 50%; /* выравнивание по высоте */
  right: -20%; /* выравнивание по ширине */
  color: #dedddd; /* цвет текста */
  font-size: 8pt; /* размер шрифта */
}

/* -------------------------------------------------- */
/* --------------- Очередность хода --------------- */

/* Координаты текста "Ваш ход" */
.turn {
  position: absolute; /* относительное позиционирование элемента */
  top: 60%; /* выравнивание по высоте */
  left: 48.4%; /* сдвинуть текст по ширине (влево) */
  text-align: center; /* выравнивание текста по центру */
}

/* -------------------------------------------------- */
/* --------------- Кнопки действий --------------- */

/* Кнопка "Взять карты" */
.player-button {
  position: absolute; /* относительное позиционирование элемента */
  left: 47.5%; /* сдвинуть текст по ширине (влево) */
  top: 65%; /* выравнивание по высоте */

  height: 40px; /* высота кнопки */
  width: 100px; /* ширина кнопки */
  border: 1px solid #aaa; /* борт кнопки */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); /* тень от кнопки */
  border-radius: 4px; /* закругление углов кнопки */
  cursor: pointer; /* смена курсора при наведении */
  background: rgb(221, 221, 221);

  font-size: 14px; /* размер текста */
  text-align: center; /* выравнивание текста по центру */
}
