/* --------------- Фон --------------- */

/* Задний фон html */
html,
body {
  background-color: gray; /* Цвет заднего фона*/
  height: 100%;
}

/* --------------------------------------------- */
/* --------------- Игровое поле --------------- */

/* Общие стили игрового поля */
#gameField {
  position: absolute; /* относительное позиционирование элемента */
  background-image: url("./../imgs/imgField.jpg");
  background-repeat: no-repeat; /* фоновое изображение не повторяется */
  height: 100%;
  width: 100%;
}

/* --------------------------------------------- */


/* --------------------------------------------- */

/* --------------------------------------------- */
/* --------------- Контент --------------- */

/* Общие стили контента */
.content {
  position: absolute; /* относительное позиционирование элемента */
  color: #ffffff; /* цвет текста */
  font-family: Verdana; /* шрифт текста */
  font-size: 15px; /* размер шрифта */
  word-break: break-word; /* перенос текста на новую строку */
  line-height: 25px; /* пространство между строками */
  text-shadow: 1px 1px 1px black; /* тень от текста */
}

