/* Стили заголовка чата */
.header {
  /* относительное позиционирование элемента */
  position: relative;
  /* цвет фона */
  background-color: #212121;
  /* высота элемента */
  height: 10%;
  /* ширина элемента */
  width: 100%;
  /* закругление углов элемента */
  border-radius: 5px 5px 0 0;
}

.headerIcons {
  /* относительное позиционирование элемента */
  position: relative;
  /* размер элемента */
  font-size: 14px;
  /* отступ сверху */
  top: 5px;
}

/* Стили иконки 'Сообщения' */
.headerIconMessage {
  /* отступ слева */
  left: 7px;
}

/* Стили контента заголовка чата */
.headerContent {
  /* относительное позиционирование элемента */
  position: relative;
  /* отступ сверху */
  top: 3px;
  /* отступ слева */
  left: 20px;
  /* цвет текста */
  color: #fff;
  /* жирность текста */
  font-weight: 550;
  /* выравнивание текста по левой стороне */
  text-align: left;
}

/* Стили иконки 'Свернуть' */
.headerIconCollapse {
  /* отступ слева */
  left: 45px;
  /* цвет текста */
  color: #acacac;
}

/* Стили иконки 'Удалить' */
.headerIconClose {
  /* отступ слева */
  left: 50px;
  /* цвет текста */
  color: #acacac;
}
