/* --------------- Стили чата --------------- */

/* Общие стили чата */
.chat {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 0;
  /* выравнивание по ширине (сдвиг влево) */
  right: 0;
  /* ширина чата */
  width: 220px;
  /* цвет общего фона чата*/
  background: #c5c39f;
  /* рамка чата */
  border: 1px solid #696969;
  /* закругление углов чата */
  border-radius: 5px 5px 0 0;
  /* высота области диалога */
  height: 320px;

  /* размера шрифта текста */
  font-size: 75%;
  /* шрифт текста */
  font-style: italic;
  /* состояние чата (открыт-закрыт) */
  display: block;
}
