/* --------------- Стили чата --------------- */

/* Общие стили чата */
.chat {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 0;
  /* выравнивание по ширине (сдвиг влево) */
  right: 0;
  /* ширина чата */
  width: 220px;
  /* цвет общего фона чата*/
  background: #c5c39f;
  /* рамка чата */
  border: 1px solid #696969;
  /* закругление углов чата */
  border-radius: 5px 5px 0 0;
  /* высота области диалога */
  height: 320px;

  /* размера шрифта текста */
  font-size: 75%;
  /* шрифт текста */
  font-style: italic;
}

/* Стили заголовка чата */
.chatTitle {
  /* относительное позиционирование элемента */
  position: absolute;
  /* цвет фона заголовка */
  background-color: #212121;
  /* высота области заголовка */
  height: 10%;
  /* ширина области заголовка */
  width: 100%;
  /* закругление углов области чата */
  border-radius: 5px 5px 0 0;
}

/* Стили иконки 'Сообщения' */
.chatTitleIconMessage {
  /* относительное позиционирование элемента */
  position: absolute;
  /* отступ сверху */
  top: 8px;
  /* отступ слева */
  left: 8px;
  /* размер иконки */
  font-size: 14px;
}

/* Стили контента заголовка чата */
.chatTitleContent {
  /* относительное позиционирование элемента */
  position: absolute;
  /* цвет текста */
  color: #fff;
  /* жирность текста */
  font-weight: 550;
  /* выравнивание текста по центру */
  text-align: left;
  top: 3px;
  left: 30px;
}

/* Стили иконки 'Сообщения' */
.chatTitleIconCircleMinus {
  /* относительное позиционирование элемента */
  position: absolute;
  /* высота области диалога */
  top: 8px;
  right: 28px;
  /* размер иконки */
  font-size: 14px;
  /* цвет текста */
  color: #acacac;
}

/* Стили иконки 'Свернуть' */
.chatTitleIconCircleCross {
  /* относительное позиционирование элемента */
  position: absolute;
  /* отступ сверху */
  top: 8px;
  /* отступ слева */
  right: 8px;
  /* размер иконки */
  font-size: 14px;
  /* цвет текста */
  color: #acacac;
}

/* Стили ввода сообщений чата */
.chatInput {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 0%;
  /* ширина области ввода сообщений */
  width: 97%;
  /* высота области ввода сообщений */
  height: 7%;
  /* выделение границы области ввода сообщений */
  border: 1px solid #000;
  /* цвет фона ввода сообщений */
  color: #999;
  /* запретить изменять размер поля ввода */
  resize: none;
  /* обрезка контента при переполнении */
  overflow: hidden;
  /* выравнивание текста по центру */
  text-align: center;
  /* шрифт текста */
  font-style: italic;
}
