/* --------------- Стили чата --------------- */

/* Общие стили чата */
.chat {
  /* относительное позиционирование элемента */
  position: absolute;
  /* состояние элемента (открыт-закрыт) */
  display: block;
  /* сдвиг вниз */
  bottom: 0;
  /* сдвиг вправо */
  right: 0;

  /* ширина элемента */
  width: 220px;
  /* высота элемента */
  height: 320px;
  /* цвет фона элемента */
  background: #c5c39f;
  /* рамка элемента */
  border: 1px solid #696969;
  /* закругление углов элемента */
  border-radius: 5px 5px 0 0;

  /* размера шрифта текста */
  font-size: 75%;
  /* шрифт текста */
  font-style: italic;
}
