/* --------------- Стили диалога чата --------------- */

.dialogs {
  /* относительное позиционирование элемента */
  position: relative;
  /* высота элемента */
  height: 83%;
  /* ширина элемента */
  width: 97%;
  /* отступы текста */
  padding: 5px;
  overflow: auto;

  /* выравнивание по ширине (сдвиг влево) */
  /* display: grid;
  grid-template-rows: repeat(12, 20px);
  overflow: hidden; */
}
