/* --------------- Стили диалога чата --------------- */

.dialogs {
  /* относительное позиционирование элемента */
  position: relative;
  /* отступы текста */
  padding: 5px;

  /* выравнивание по ширине (сдвиг влево) */
  /* display: grid;
  grid-template-rows: repeat(12, 20px);
  overflow: hidden; */
}
