/* --------------- Стили диалога чата --------------- */

.chatDialogs {
  /* высота области диалога */
  height: 250px;
  /* отступы текста */
  padding: 1px;
  /* шрифт текста */
  font-style: italic;
  /* размера шрифта текста */
  font-size: 70%;
  /* выравнивание текста по центру */
  text-align: left;

  display: grid;
  grid-template-rows: repeat(10, 20px);
}
