/* Стили шапки закрытого чата */
.headerCollapsed {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 0;
  /* выравнивание по ширине (сдвиг влево) */
  right: 0;
  /* ширина */
  width: 220px;
  /* высота */
  height: 30px;
  /* цвет фона */
  background-color: #212121;
  /* закругление углов */
  border-radius: 5px 5px 0 0;

  /* размера шрифта текста */
  font-size: 75%;
  /* шрифт текста */
  font-style: italic;
  /* состояние (виден-скрыт) */
  display: none;
}

/* Стили иконки 'Сообщения' */
.headerCollapsedIconMessage {
  /* относительное позиционирование элемента */
  position: absolute;
  /* отступ сверху */
  top: 8px;
  /* отступ слева */
  left: 8px;
  /* размер иконки */
  font-size: 14px;
}

/* Стили контента заголовка чата */
.headerCollapsedContent {
  /* относительное позиционирование элемента */
  position: absolute;
  /* цвет текста */
  color: #fff;
  /* жирность текста */
  font-weight: 550;
  /* выравнивание текста по центру */
  text-align: left;
  top: 3px;
  left: 30px;
}

/* Стили иконки 'Развернуть' */
.headerCollapsedIconOpen {
  /* относительное позиционирование элемента */
  position: absolute;
 /* отступ сверху */
  top: 8px;
  /* отступ справа */
  right: 28px;
  /* размер */
  font-size: 14px;
  /* цвет текста */
  color: #acacac;
}

/* Стили иконки 'Удалить' */
.headerIconClose {
  /* относительное позиционирование элемента */
  position: absolute;
  /* отступ сверху */
  top: 8px;
  /* отступ справа */
  right: 8px;
  /* размер элемента */
  font-size: 14px;
  /* цвет текста */
  color: #acacac;
}