/* --------------- Стили поля ввода сообщений в чате --------------- */
 

/* Стили ввода сообщений чата */
.chatInput {
  /* относительное позиционирование элемента */
  position: absolute;
  /* выравнивание по высоте  (сдвиг вниз)*/
  bottom: 0%;
  /* ширина области ввода сообщений */
  width: 97%;
  /* высота области ввода сообщений */
  height: 7%;
  /* выделение границы области ввода сообщений */
  border: 1px solid #000;
  /* цвет фона ввода сообщений */
  color: #999;
  /* запретить изменять размер поля ввода */
  resize: none;
  /* обрезка контента при переполнении */
  overflow: hidden;
  /* выравнивание текста по центру */
  text-align: center;
  /* шрифт текста */
  font-style: italic;
}
