/* --------------- Стили имен игроков --------------- */

/* Общие стили текста игроков */
.userNames {
  position: absolute; /* относительное позиционирование элемента */
  left: 80%; /* сдвинуть текст по ширине (влево) */
}

/* Стили координат имён первого игрока */
.userName1 {
  top: 10%; /* выравнивание по высоте */
}

/* Стили координат имён второго игрока */
.userName0 {
  top: 80%; /* выравнивание по высоте */
}
