

/* --------------- Стили колод игроков --------------- */

/* Общие стили колод игроков */
.hand {
  position: absolute; /* относительное позиционирование элемента */
  top: 5%; /* выравнивание по высоте */
  left: 47%; /* выравнивание по ширине (сдвиг влево) */
}

/* Стили карт первого игрока */
.handCards0 {
  top: 75%;
}

/* Стили карт второго игрока (противника) */
.handCards1 {
}

/* --------------------------------------------- */

/* --------------- Стили количества карт игроков --------------- */

/* Стили количества карт первого игрока */
.handCount0 {
  top: 82%; /* выравнивание по высоте */
  left: 40%; /* сдвинуть текст по ширине (влево) */
}

/* Стили количества карт второго игрока (противника) */
.handCount1 {
  top: 12%; /* выравнивание по высоте */
  left: 37.5%; /* сдвинуть текст по ширине (влево) */
}
